page-categories4 {
    .page-categories4{
        .grid{
            padding: 0;
            .col{
                padding:0.5px;
                .card {
                    background-color: $white;
                    width: calc(100% - 0px);
                    border-radius: 0;
                    position: relative;
                    text-align: center;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    margin-top:0;
                    height: 160px;
                    img{
                        width: 35px;
                        margin-left: auto;
                        margin-right: auto;
                        top: 20%;
                        position: relative;
                    }
                    .categories-title {
                        position: absolute;
                        top: 50%;
                        font-size: 1.2em;
                        width: 100%;
                        font-weight: bold;
                        color:color($colors, dark);
                    }
            
                    .categories-subtitle {
                        font-size: 1.0em;
                        position: absolute;
                        top: 65%;
                        width: 100%;
                        color:color($colors, dark);
                    }
                }
            }
        }

    }
}
  