<ion-header>
    
      <ion-navbar>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    
        <ion-title>
          {{'Categories'| translate }}
        </ion-title>
    
        <ion-buttons end>
          <button ion-button icon-only (click)="openSearch()">
            <ion-icon name="search"></ion-icon>
          </button>
          <button ion-button icon-only class="cart-button" (click)="openCart()">
            <ion-icon name="cart">
              <ion-badge color="secondary">{{shared.cartquantity}}</ion-badge>
            </ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
    
    </ion-header>


<ion-content class="page-categories2">



  <ion-list>
    <ion-item *ngFor="let c of shared.categories" (click)="openSubCategories(c.id)" class="animated flipInX">
      <ion-icon item-start>
        <img src="{{config.url+c.icon}}">
      </ion-icon>
      <h2>{{c.name}}<br><small>{{c.total_products}} {{'Products'| translate }} </small></h2>
    </ion-item>
  </ion-list>


</ion-content>
<ion-footer *ngIf="config.footerShowHide=='1'">
  <footer ></footer>
</ion-footer>