<ion-header>
  <ion-navbar>
    <ion-title>
      {{'Search'| translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="cart-button" (click)="openCart()">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{shared.cartquantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <form #loginForm="ngForm" (ngSubmit)="getSearchData()">
    <ion-searchbar [(ngModel)]="search" name="search" placeholder="{{'Search'|translate}}" [showCancelButton]="shouldShowCancel"
      (ionInput)="onChangeKeyword($event)">
    </ion-searchbar>
  </form>

  <div *ngFor="let p of searchResult.products">
    <product [data]="p" [type]="'list'"></product>
  </div>

  <ion-list *ngIf="showCategories">
    <ion-item *ngFor="let c of shared.subCategories" (click)="openProducts(c.id,c.name)" class="animated flipInX">
      <ion-avatar item-start>
        <img src="{{config.url+c.image}}">
      </ion-avatar>
      <h2>{{c.name}}</h2>
      <p>{{c.total_products}} {{'Products'| translate }} </p>
    </ion-item>
  </ion-list>
</ion-content>