<ion-header>
    
      <ion-navbar>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    
        <ion-title>
          {{'Categories'| translate }}
        </ion-title>
    
        <ion-buttons end>
          <button ion-button icon-only (click)="openSearch()">
            <ion-icon name="search"></ion-icon>
          </button>
          <button ion-button icon-only class="cart-button" (click)="openCart()">
            <ion-icon name="cart">
              <ion-badge color="secondary">{{shared.cartquantity}}</ion-badge>
            </ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
    
    </ion-header>


<ion-content class="page-categories6">

  <ion-card *ngFor="let c of shared.categories" (click)="openSubCategories(c.id)" class="animated flipInX">
    <img src="{{config.url+c.image}}" />
    <div class="categories-title">{{c.name}}</div>
    <div class="categories-subtitle">{{c.total_products}} {{'Products'| translate }} </div>
  </ion-card>

</ion-content>
<ion-footer *ngIf="config.footerShowHide=='1'">
  <footer ></footer>
</ion-footer>