page-categories6 {
    .page-categories6{
        .card:first-child{
            margin-top: 0;
          }
          .card {
            width: calc(100% - 0px);
            border-radius: 0;
            position: relative;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-top: 1px;
            max-height: 280px;
      
            .categories-title {
                position: absolute;
                top: 36%;
                font-size: 1.6em;
                width: 100%;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
            }
        
            .categories-subtitle {
                font-size: 1.0em;
                position: absolute;
                top: 50%;
                width: 100%;
                color: #fff;
            }
          }
          .card::before{
            content: "";
            background-color: $black;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            opacity: 0.70;
          }
    }
}
